.app-table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }

  .table-total {
      margin-top:20px;
    text-align:right;
    font-size:16px;
    display: block;
    font-weight: bold;
  }
  
  .app-table-header {
    text-align: left;
    padding:  10px 0 !important;
    font-size: 14px;
    font-weight: bold;
  }

   .app-table-data {
    text-align: left;
    padding: 15px 0 !important;
    font-size: 12px;
    color: #999999;
  }

  .table-btn {
   background-color: #fe5634;
   padding:10px;
   text-align: center;
   border-radius: 3px;
   color:white;
   cursor:pointer;
   transition: all .2s;
  }

  .table-btn:hover {
  background-color: #1b1b1b;
  }

  .table-header{
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
  }

  .table-view-all {
      background-color: #131573;
      padding:8px 15px;
      border-radius: 3px;
      color: white;
      font-size: 13px;
      cursor: pointer;
  }


  .table-active {
     color: #7fe233;
  }

  .table-inactive {
   color: #d52f2f;
  }

  .table-image{
      border-radius: 5px;
      display: inline-block;
      margin-right: 10px;
  }



  .app-table2 {
    margin-top:30px;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
  }

  
  .app-table2-header {
    text-align: left;
    padding: 15px 15px !important;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color:#828282;
  }

   .app-table2-data {
    text-align: left;
    padding: 15px 15px !important;
    font-size: 12px;
    color: #999999;
    background: white;
    margin-bottom: 20px !important;
  }

  .app-table2-row {
    border: 10px solid #F6F8F9;
  }


  .styled select {
    background: transparent;
    font-size: 13px;
    height: 40px; 
    color:rgb(50, 50, 50);
    font-weight: 800;
    border-radius: 5px;
   
 } 
 
 .styled{
    border-radius: 3px;
    display: inline-block;
    height: 40px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-right:20px
 }

.content-graph{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
 .doughnut-div{
   width: 70%;
   height: 200px;
   overflow: hidden;
 }


 .table-button-sort select {
  border: 2px solid  #7677ae;
}

.table-button-filter select {
  border: 2px solid  #5322db;
}

.table-button-actions select {
  border: 2px solid #131573;
}
 
.app-icon {
  font-family: 'ionicons';
}


.form-flex {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  margin-bottom: 30px;
  }
  .form-flex-col {
   flex-basis: 50%;
   margin-bottom: 10px;
   padding-right: 20px;
  }

  .pagination{
    display: flex;
  }
  .pag-col-1{
    flex:0 30%;
    padding: 15px;
  }
  .pag-col-2{
    flex: 1;
    padding: 15px;
    text-align: center;
  }
  .pag-col-3{
    flex:0 25%;
    padding: 15px;
  }
  .pag-prev{
  border: 1px solid #5322db;
  cursor: pointer;
  display: inline-block;
  margin-right: 20px;
  padding: 8px 15px;
  border-radius: 5px;
  color: #5322db;
  text-decoration: none;
  font-size: 12px;
  transition: all .2s;
  }

  .pag-prev:hover{
    background: #5322db1d;
  }
   
  .pag-next{
    border: 1px solid #5322db;
    background-color:#5322db;
    cursor: pointer;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 5px;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    transition: all .2s;
  }

  .pag-next:hover{
    border: 1px solid #3a14a2;
    background: #3a14a2;
  }

  .pag-s{
    display: table-cell;
    padding: 5px 5px;
  }

  .pag-input{
    height: 30px;
    width: 70px;
    border-radius: 3px;
    border: 1px solid rgb(202, 202, 202);
    padding: 0 10px;
    font-size: 12px;
  }


  .pag-s-text{
    font-size: 12px;
    color: rgb(95, 95, 95);
    font-weight: 600;
  }

  .app-table-select{
    display: flex;
  }